<nav>
    <!-- Навигационное меню -->
    <a href="{% url 'tasks:index' %}">Приложение tasks</a><br>
    <!-- Другие ссылки -->
    <a href="{% url 'quality_control:index' %}">Система контроля качества</a>
</nav>