{% extends 'base/base.html' %}

{% block content %}
    <h1>Удаление отчёта об ошибке</h1>
    <p>Вы уверены, что хотите удалить отчёт об ошибке "{{ bug.title }}"?</p>

    <form action="{% url 'quality_control:delete_bug' bug.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Удалить">
        <a href="{% url 'quality_control:bug_detail' bug.id %}">Отмена</a>
    </form>
{% endblock %}