{% extends 'base/base.html' %}

{% block content %}
    <h3>{{ bugreport.title }}</h3>
    <p><a href="{% url 'quality_control:update_bug' bugreport.id %}">Изменить отчёт об ошибке</a></p>
    <p><a href="{% url 'quality_control:delete_bug' bugreport.id %}"onclick="return confirm('Вы уверены, что хотите удалить этот отчёт об ошибке?');">Удалить отчёт об ошибке</a></p>
    <ul>
        <li><b>Описание:</b> {{ bugreport.description }}</li>
        <li><b>Статус:</b> {{ bugreport.status }}</li>
        <li><b>Приоритет:</b> {{ bugreport.priority }}</li>
        <li><b>Проект: </b><a href="{% url 'tasks:project_detail' bugreport.project.id %}">{{ bugreport.project }}</a></li>
        {% if featurerequest.task.id %}
            <li><b>Задача: </b><a href="{% url 'tasks:task_detail' bugreport.project.id bugreport.task.id %}">{{ bugreport.task }}</a></li>
        {% else %}
            <li><b>Задача: </b>-</li>
        {% endif %}
    </ul>
{% endblock %}