{% extends 'base/base.html' %}

{% block content %}
    <h3>{{ featurerequest.title }}</h3>
    <p><a href="{% url 'quality_control:update_feature' featurerequest.id %}">Изменить запрос на улучшение</a></p>
    <p><a href="{% url 'quality_control:delete_feature' featurerequest.id %}"onclick="return confirm('Вы уверены, что хотите удалить этот запрос на улучшение?');">Удалить запрос на улучшение</a></p>
    <ul>
        <li><b>Описание:</b> {{ featurerequest.description }}</li>
        <li><b>Статус:</b> {{ featurerequest.status }}</li>
        <li><b>Приоритет:</b> {{ featurerequest.priority }}</li>
        <li><b>Проект: </b><a href="{% url 'tasks:project_detail' featurerequest.project.id %}">{{ featurerequest.project }}</a></li>
        {% if featurerequest.task.id %}
            <li><b>Задача: </b><a href="{% url 'tasks:task_detail' featurerequest.project.id featurerequest.task.id %}">{{ featurerequest.task }}</a></li>
        {% else %}
            <li><b>Задача: </b>-</li>
        {% endif %}
    </ul>

{% endblock %}